/* Set some global styles */
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;  
  }
  
  body{
      font-family: 'Ubuntu', sans-serif;
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #5d5d5d, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #434343, #000000);
      margin: 0;
      padding: 0;
}

/* Style the wrapper div */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the boxes */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50px;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.box-left {
    margin-right: 80px;
}

.box-right {
    margin-left: 80px;
}

/* Style the headings */
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Style the "Home Automation " heading */
h2 {
    position: relative;
    top:70px;
    margin-bottom: -110px;
    font-size: 48px;
    color:  #ffffff;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-weight: bold;
}

/* Style the buttons */
.button {
    display: block;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
}

.button-left {
    background-color: #2196F3;
}

.button-right {
    background-color: #F44336;
}

/* Style the buttons on hover */
.button:hover {
    opacity: 0.8;
}
