*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;  
}

body{
    font-family: 'Ubuntu', sans-serif;
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #958eb5, #1F1C2C  );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #67647a, #1F1C2C  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       margin: 0;
    padding: 0;
}
h1{
  color: white;
  text-align: center;
  text-emphasis: none;
  margin-top: 3rem;
 padding-bottom: 2rem;
  font-size:38px;
  justify-content: center;
 letter-spacing: 1.4px;
     
} 
.general{
  color: white;
  padding: 10px;
  position:absolute;
  flex-direction: row;
  flex-wrap: wrap;
  text-emphasis: none;
  left: 10.2%;
  margin-top: 2rem;
  font-size:28px;
  font-weight: 400;
  letter-spacing: 1.3px;
}
.container {
  display: flex;
justify-content: left;
align-items: left;
flex-wrap: wrap;
  gap:50px;
  padding-right: 10%;
  padding-left: 10.6%;
  margin-top: 7rem;
  
  

}
@media screen and (max-width: 800px) {
  .box {
    min-width: 100%;
  }
}

.box {
  margin: 10px;
   border-radius: 6px;
  padding: 20px;
 border: 1px solid black;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  width: 20%;

}


.box i {
  font-size: 40px;
  margin-bottom: 8px;
}

.box h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.box p {
  font-size: 36px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}


.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  
  
}
.input-field {
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
display: flex;
  
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  
}

input[type="number"] {
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(21, 21, 21, 0.878);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  margin-right: 10px;
}

button {
border: none;
 color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.device-container {
  display: flex;
   justify-content: space-between;
  align-items:center;
  flex-direction: column;
  height: 400px;
margin-left: -60rem;
  margin-top: 8rem;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9d9b9be1;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #038f26;
}

input:focus + .slider {
  box-shadow: 0 0 2px #038f26;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.timer-toggle {
  margin-top: 10px;
}

.timer-toggle label {
  font-weight: bold;
}

.timer-toggle input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 10px;
}




.goBack {
  background-color: rgba(255, 255, 255, 0.885);
  display: flex;
  margin-left:1.5rem;
  margin-top: -1.5rem;
  flex-direction: row;
 
  color:black;
  height: 40px;
  position:absolute;
  border-radius: 5px;
  cursor:pointer;
  text-decoration: none;
}

.goBack > p {
  margin:auto;
  margin-right:1rem;
}
.goBack > img {
  padding: 8px;
}


.input-container input[type="time"] {
  width: 85%;
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid black;
}




