@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 60px;
    font-family: 'Ubuntu', sans-serif;
    background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #5d5d5d, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #434343, #000000);
}
.form-container form{
    padding: 30px;
    background: #00000063;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    text-align: center;
    width: 700px;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ffffff;
}

.form-container form input{
    width: 97%;
    padding: 17px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form .form-btn{
    background: #8ddafbfe;
    color: dodgerblue;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover{
    background: dodgerblue;
    color: #fff;
}

.form-container form p{
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
}

.form-container form p a{
    color: dodgerblue;
}

.form-container form .error-msg{
    margin-top: 10px 0;
    display: block;
    background: blue;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

  
  .form-producer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 60px;
    font-family: 'Ubuntu', sans-serif;
    background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #5d5d5d, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #434343, #000000);
}

.form-producer form{
    padding: 30px;
    background: #00000063;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    text-align: center;
    width: 700px;
}

.form-producer form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ffffff;
}

.form-producer form input{
    width: 97%;
    padding: 17px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-producer form .form-btn{
    background: #fdd1d1fe;
    color: maroon;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-producer form .form-btn:hover{
    background: crimson;
    color: #fff;
}

.form-producer form p{
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
}

.form-producer form p a{
    color: crimson;
}

.form-producer form .error-msg{
    margin-top: 10px 0;
    display: block;
    background: maroon;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}


  .logout-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .logout-btn {
    display: inline-block;
    background-color: #090909;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s;
  }
  
  .logout-btn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  
  